<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myexampleapplication">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity"/>
        <activity android:name=".MyVideoLecture2activity"/>
        <activity android:name=".MyreviewAssessmentactivity"/>
        <activity android:name=".MyAssessmentsActivity"/>
        <activity android:name=".MyVideoLactureActivity"/>
        <activity android:name=".MyResultActivity"/>
        <activity android:name=".MyExamResultActivity"/>
        <activity android:name=".MyResultMarksActivity"/>
        <activity android:name=".MyHomeWorkoneActivity"/>
        <activity android:name=".HomeWorktwoActivity"/>
        <activity android:name=".Mynotesactivity"/>
        <activity android:name=".Myassessmentsubjects"/>
        <activity android:name=".MyAssesmenttwo"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Mynotessubjectsactivity"
            android:label="@string/title_activity_mynotessubjectsactivity"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name=".MyStartAssessmentactivity"
            android:label="@string/title_activity_my_start_assessmentactivity"
            android:theme="@style/MyMaterialTheme">
        </activity>
    </application>

</manifest>